.gsi-content {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-left: 20px;
}

.gsi-box {
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}

table.sortable thead {
    cursor: default;
}

td.urgent {
    background-color: #FFC7CE;
    color: #9D0006;
}
